In [1]:
import pandas as pd

In [2]:
data = [[10,18,11],[13,15,8],[9,20,3]]

In [3]:
df = pd.DataFrame(data)

In [5]:
# a - describe

In [4]:
df.describe()

               0          1          2
count   3.000000   3.000000   3.000000
mean   10.666667  17.666667   7.333333
std     2.081666   2.516611   4.041452
min     9.000000  15.000000   3.000000
25%     9.500000  16.500000   5.500000
50%    10.000000  18.000000   8.000000
75%    11.500000  19.000000   9.500000
max    13.000000  20.000000  11.000000

In [6]:
#b covariance -- describes how values vary  in realton to each other

In [7]:
df.cov()

          0         1          2
0  4.333333 -5.166667   3.166667
1 -5.166667  6.333333  -5.333333
2  3.166667 -5.333333  16.333333

In [8]:
#c - correlation -- shows strength of relationship

In [9]:
df.corr()

          0         1         2
0  1.000000 -0.986241  0.376404
1 -0.986241  1.000000 -0.524379
2  0.376404 -0.524379  1.000000