In [1]:
#a. Import Pandas

In [2]:
import pandas as pd

In [3]:
#b. Loading the data various formats (.XLS, .TXT, .CSV, JSON) using Pandas

In [4]:
# XLS

In [5]:
df1 = pd.read_excel(r"D:\20vv1a1263_2_2\ss.xls")

In [6]:
print(df1)

      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2013-152156 2013-11-09 2013-11-12    Second Class
1          2  CA-2013-152156 2013-11-09 2013-11-12    Second Class
2          3  CA-2013-138688 2013-06-13 2013-06-17    Second Class
3          4  US-2012-108966 2012-10-11 2012-10-18  Standard Class
4          5  US-2012-108966 2012-10-11 2012-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2011-110422 2011-01-22 2011-01-24    Second Class
9990    9991  CA-2014-121258 2014-02-27 2014-03-04  Standard Class
9991    9992  CA-2014-121258 2014-02-27 2014-03-04  Standard Class
9992    9993  CA-2014-121258 2014-02-27 2014-03-04  Standard Class
9993    9994  CA-2014-119914 2014-05-05 2014-05-10    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]

In [7]:
#.txt

In [8]:
df2 = pd.read_csv(r'D:\20vv1a1263_2_2\hey.txt',sep=' ',header=None)

In [9]:
print(df2)

       0      1
0  hello  world

In [10]:
#. csv

In [11]:
df3 = pd.read_csv(r'D:\20vv1a1263_2_2\rd.csv')

In [12]:
print(df3)

                                            Footnotes
0                                          Footnotes:
1   1. Sector and published industry breakdowns ac...
2   2. GDP is based on Stats NZ's GDP current pric...
3   3. Sourced from Organisation for Economic Co-o...
4   4. Figures for Australia are collected in odd ...
5   5. Figures for Switzerland are collected inter...
6   6. Results for this category should be treated...
7   7. Includes a wide range of ANZSIC industry co...
8   8. Some categories or groups may not equal the...
9   9. In 2019 the R&D Survey was conducted only f...
10  10. Respondents are asked to allocate to each ...
11  11. Includes 'defence' and 'other' research pu...
12  12. Includes New Zealand local government agen...
13  13. Basic research is carried out to advance k...
14  14. Applied research is investigation undertak...
15  15. Experimental research is systematic work u...
16  16. Pure basic research is research to pursue ...
17  17. Targeted basic research is research to pro...
18  18. Businesses were asked to indicate one main...
19  19. Based on Rolling Mean employment. See Data...
20  20. Dollar figures exclude GST and are rounded...
21  21. Underlying counts of businesses are random...
22  22. Underlying counts of employees are rounded...
23                                             Notes:
24  Due to small changes in population and sample ...
25  Due to rounding, figures may not add to stated...
26                                           Symbols:
27                            ... Data not collected.
28                             .. Data not applicable
29                                     C Confidential
30                    S Supressed for quality reasons

In [13]:
#json

In [14]:
df4 = pd.read_csv(r'D:\20vv1a1263_2_2\js.json')

In [15]:
print(df4)

                                                       {
   "firstName": "Joe"                                NaN
   "lastName": "Jackson"                             NaN
   "gender": "male"                                  NaN
   "age": 28                                         NaN
   "address": {                                      NaN
       "streetAddress": "101"                        NaN
       "city": "San Diego"                           NaN
       "state": "CA"                                 NaN
   }                                                 NaN
   "phoneNumbers": [                                 NaN
       { "type": "home"         "number": "7349282382" }
   ]                                                 NaN
}                                                    NaN

In [16]:
#c. Describe Data, Modify Data, Grouping Data, Filtering Data

In [17]:
# describing data -- describe()

In [18]:
frame = pd.Series([1, 2, 3])  
frame.describe()

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

In [25]:
frame = pd.Series(['p', 'q', 'q', 'r'])  
frame.describe()

count     4
unique    3
top       q
freq      2
dtype: object

In [26]:
#modifying data

In [27]:
#rename

In [30]:
data = {'country': ['Italy','Spain','Greece','France','Portugal'],
        'popu': [61, 46, 11, 65, 10],
        'percent': [0.83,0.63,0.15,0.88,0.14]}

In [31]:
df = pd.DataFrame(data, index=['ITA', 'ESP', 'GRC', 'FRA', 'PRT'])

print(df)

In [23]:
#d. Converting a variable to a different data type back to a CSV, JSON, or SQL