In [1]:
import pandas as pd

In [2]:
dict1 = {
    "name":['harry','rohan','skillf','shubh'],
    "marks":[12,34,24,17],
    "city":['rampur','kolkata','barelly','antarctica']
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df.to_csv('friends_index_false.csv',index=False)

In [5]:
DATA = pd.read_csv('friends_index_false.csv')

In [6]:
DATA

     name  marks        city
0   harry     12      rampur
1   rohan     34     kolkata
2  skillf     24     barelly
3   shubh     17  antarctica