In [1]:
import pandas as pd

In [2]:
dataset = pd.DataFrame({'Name':['Abhinav','Aryan','Manthan'],
                        'DOB':['10/01/2009','24/03/2009','28/02/2009']})

In [3]:
print(dataset)

      Name         DOB
0  Abhinav  10/01/2009
1    Aryan  24/03/2009
2  Manthan  28/02/2009

In [4]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('sqlite://',echo=False)

dataset.to_sql('Employee_Data',con=engine)

print(engine.execute("SELECT * FROM Employee_Data").fetchall())

[(0, 'Abhinav', '10/01/2009'), (1, 'Aryan', '24/03/2009'), (2, 'Manthan', '28/02/2009')]

In [7]:
df2 = pd.read_sql("Employee_Data",con=engine,index_col="Name",parse_dates=['DOB'])

In [8]:
df2

         index        DOB
Name
Abhinav      0 2009-10-01
Aryan        1 2009-03-24
Manthan      2 2009-02-28

In [9]:
type(engine)

sqlalchemy.engine.base.Engine

In [11]:
type(df2)

pandas.core.frame.DataFrame

In [12]:
df2 = pd.read_sql("Employee_Data",con=engine,index_col="Name")

In [13]:
df2

         index         DOB
Name
Abhinav      0  10/01/2009
Aryan        1  24/03/2009
Manthan      2  28/02/2009