In [1]:
# create df contains only integers with 3 rows and 2 columns
# run following df methods on them:

In [5]:
import pandas as pd
import numpy as np

In [15]:
df = pd.DataFrame(np.random.randint(low=1,high=10,size=(3,2),dtype=int))

In [16]:
df

   0  1
0  1  5
1  9  7
2  1  2

In [17]:
df.describe()

              0         1
count  3.000000  3.000000
mean   3.666667  4.666667
std    4.618802  2.516611
min    1.000000  2.000000
25%    1.000000  3.500000
50%    1.000000  5.000000
75%    5.000000  6.000000
max    9.000000  7.000000

In [19]:
df.mean()

0    3.666667
1    4.666667
dtype: float64

In [20]:
df.corr()

          0         1
0  1.000000  0.802955
1  0.802955  1.000000

In [21]:
df.count()

0    3
1    3
dtype: int64

In [22]:
df.max()

0    9
1    7
dtype: int32

In [23]:
df.min()

0    1
1    2
dtype: int32

In [24]:
df.median()

0    1.0
1    5.0
dtype: float64

In [25]:
df.std()

0    4.618802
1    2.516611
dtype: float64

In [28]:
pd.unique(df[0])

array([1, 9])

In [31]:
df.nunique(axis=0)

0    2
1    3
dtype: int64

In [32]:
df.nunique(axis=1)

0    2
1    2
2    2
dtype: int64